@using Microsoft.AspNetCore.Identity
@using ASPCoreNetProject.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav navbar-dark text-light">
    @if (SignInManager.IsSignedIn(User))
    {
        @*<li class="nav-item">
                <a class="nav-link text-light btn-lg" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <img src="~/images/@UserManager.Users.FirstOrDefault(u=>u.UserName==User.Identity.Name).ProfilePicture" class="img-fluid img-thumbnail" style="height:5%;width:7%" />
                </a>
            </li>*@
        <li class="nav-item">
            <a class="nav-link text-light btn-lg float-right" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                <img src="~/images/@UserManager.Users.FirstOrDefault(u=>u.UserName==User.Identity.Name).ProfilePicture" class="img-fluid nav-link float-right rounded-circle" style="height:75px;width:75px" />
            </a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-light mt-3">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
